.btn {
  display: inline-block;
  cursor: pointer;
}

.btn-search {
  background-color: var(--color-green);
  border: var(--color-white);
  padding: 14px 24px;
  color: var(--color-white);
  font-size: 14px;
}

.btn-filter {
  display: flex;
  align-items: center;
  gap: 12px;
  background-color: var(--color-green);
  padding: 14px 32px;
  border-radius: 43px;
  border: var(--color-white);
  color: var(--color-white);
  font-weight: var(--font-weight-semibold);
  font-size: 14px;
}

.btn-subscribe {
  border-radius: 43px;
  background-color: var(--color-green);
  color: var(--color-white);
  font-weight: var(--font-weight-semibold);
  font-size: 16px;
  border: none;
  padding: 16px 40px;
}

.btn-card {
  background-color: var(--color-white);
  border: var(--color-white);
  cursor: pointer;
}

.btn-minus, .btn-plus {
  width: 34px;
  height: 34px;
  border-radius: 170px;
  background-color: var(--color-concrete);
  border: var(--color-white);
}

.btn-checkout {
  padding: 16px 140px;
  background-color: var(--color-green);
  border-radius: 43px;
  border: var(--color-white);
  font-size: 16px;
  font-weight: var(--font-weight-semibold);
  color: var(--color-white);
}

.btn-return, .btn-update-cart {
  background-color: var(--color-concrete);
  padding: 14px 32px;
  border: var(--color-white);
  border-radius: 43px;
  color: var(--color-tundora);
  font-size: 14px;
  font-weight: var(--font-weight-semibold);
}

.btn-delete {
  border: var(--color-white);
  background-color: var(--color-white);
}
