:root {
  --color-mine-shaft: #333333;
  --color-nobel: #B3B3B3;
  --color-green: #00B207;
  --color-white: #ffff;
  --color-deep-fir: #002603;
  --color-mercury: #E5E5E5;
  --color-dove-gray: #666;
  --color-tundora: #4D4D4D;
  --color-cod-gray: #1A1A1A;
  --color-gray: #808080;
  --color-concrete: #F2F2F2;
  --color-dusty-gray: #999999;
  --color-alabaster: #F7F7F7;

  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
}
