<section>
  <div class="wrapper-products flex-col">
    <div class=" wrapper-top flex align-center">
      <div class="block-left">
        <button class="btn btn-filter">
          Filter <span class="icon icon-filter"></span></button>
        <p class="dropdown"> Sort by:
          <select class="select-options">
            <option value="free" class="select-item">Lastest</option>
            <option value="basic" class="select-item">Oldest</option>
          </select>
        </p>
      </div>
      <div class="block-result">
        <span class="total-result">52</span> <span class="total-find">Results Found</span> 
      </div>
    </div>
    <div class="container-product">
      <aside>
        <div class="block-category">
          <div class="category-top">
            <h2 class="heading-secondary heading-secondary-mb">All Categories</h2>
            <span class="icon icon-top"></span>
          </div>
          <ul>
            <li class="block-item">
              <input type="radio" class="rdo-category"><label for="category-1"> Fresh Fruit</label>
              <span>(25)</span>
            </li>
            <li class="block-item">
              <input type="radio" class="rdo-category"><label for="category-1">Vegetables</label>
              <span>(150)</span>
            </li>
            <li class="block-item">
              <input type="radio" class="rdo-category"><label for="category-1">Cooking</label>
              <span>(54)</span>
            </li>
            <li class="block-item">
              <input type="radio" class="rdo-category"><label for="category-1">Snacks</label>
              <span>(47)</span>
            </li>
            <li class="block-item">
              <input type="radio" class="rdo-category"><label for="category-1">Beverages</label>
              <span>(43)</span>
            </li>
            <li class="block-item">
              <input type="radio" class="rdo-category"><label for="category-1">Beaut & Health</label>
              <span>(38)</span>
            </li>
            <li class="block-item">
              <input type="radio" class="rdo-category"><label for="category-1">Bread & Bakery</label>
              <span>(15)</span>
            </li>
          </ul>
        </div>
      </aside>
      <main>
        <div class="card-block">
        </div>
        <p class="message-empty"></p>
        <div class="block-pagination">
        </div>
      </main>
    </div>
  </div>

</section>
