<header>
  <div class="header-top">
    <a href="#" class="flex justify-content-center align-items-center link header-left ">
      <span class="icon icon-location"></span>
      Store Location: Lincoln- 344, Illinois, Chicago, USA
    </a>
    <div class="header-right flex justify-content-center align-items-center">
      <div class="link">
        Eng
        <span class="icon icon-drop-down"></span>
        USD
        <span class="icon icon-drop-down"></span>
      </div>
      <div>
        <a class="link" href="#">Sign In</a> /
        <a class="link" href="#">Sign Up</a>
      </div>
    </div>
  </div>
  <div class="header-bottom">
    <a href="#" class="header-logo">
      <img src="/src/assets/images/header/logo.png" alt="logo">
      <h1 class="name-logo">Ecobaza</h1>
    </a>
    <form class="form-input search-form" action="" method="post" name="search">
      <div class="form-input-search">
        <span class="icon icon-search icon-search-absolute"></span>
        <input class="input-search" type="text" placeholder="Search">
      </div>
      <button type="submit" class="btn btn-search">Search</button>
    </form>
    <div class="flex justify-content-center align-items-center">
      <span class="icon icon-heart"></span>
      <span class="icon icon-vertical"></span>
      <div class="block-cart">
        <span class="icon icon-medium icon-cart"></span>
        <span class="icon icon-circle">2</span>
      </div>
      <div class="block-total-cart">
        <p class="name-cart">Shopping cart</p>
        <p class="total-price">$57.00</p>
      </div>
    </div>
  </div>
  <nav class="header-nav">
    <ul class="nav-list">
      <li><a href="#" class="link-item">Home <span class="icon icon-drop-down"></span></a></li>
      <li><a href="#" class="link-item">Shop <span class="icon icon-drop-down"></span></a></li>
      <li><a href="#" class="link-item">Pages <span class="icon icon-drop-down"></span></a></li>
      <li><a href="#" class="link-item">Blog <span class="icon icon-drop-down"></span></a></li>
      <li><a href="#" class="link-item">About us</a></li>
      <li><a href="#" class="link-item">Contact Us</a></li>
    </ul>
    <a href="tel:+2195550114" class="link-phone"><span class="icon icon-phone"></span> (219) 555-0114
    </a>
  </nav>
  <div class="breadcrumbs">
    <ul class="list-nav">
      <li><span class="icon icon-home"></span></li>
      <li><span class="icon icon-next"></span></li>
      <li><a href="#">Categories</a></li>
      <li><span class="icon icon-next"></span></li>
      <li><a href="#">Vegetables</a></li>
    </ul>
  </div>
</header>
