<h2 class="title-sub">My Shopping Cart</h2>
<div class="wrapper-cart">
  <table class="table">
    <thead>
      <tr class="col-header">
        <th class="col-product">PRODUCT</th>
        <th>PRICE</th>
        <th>QUANTITY</th>
        <th>SUBTOTAL</th>
      </tr>
    </thead>
    <tbody>
      <tr class="col-tbody">
        <td>
          <div class="product-item">
            <img src="/src/assets/images/cart/img_green_capsicum.png" alt="Green Capsicum" />
            <p class="product-title"> Green Capsicum</p>
          </div>
        </td>
        <td>$14.00</td>
        <td>
          <div class="input-group quantity">
            <button class="btn btn-minus "><span class="icon icon-minus"></span></button>
            <input type="text" class="input-quantity" name="input-quantity" />
            <button class="btn btn-plus "><span class="icon icon-plus"></span></button>
          </div>
        </td>
        <td>
          <p class="product-subtotal">
            $70.00
          </p>
        </td>
        <td>
          <span class="icon icon-close"></span>
        </td>
      </tr>
      <tr class="col-tbody">
        <td>
          <div class="product-item">
            <img src="/src/assets/images/cart/img_red_capsicum.png" alt="Red Capsicum" />
            <p class="product-title">Red Capsicum</p>
          </div>
        </td>
        <td>$14.00</td>
        <td>
          <div class="input-group quantity">
            <button class="btn btn-minus "><span class="icon icon-minus"></span></button>
            <input type="text" class="input-quantity" name="input-quantity" />
            <button class="btn btn-plus "><span class="icon icon-plus"></span></button>
          </div>
        </td>
        <td>
          <p class="product-subtotal">
            $70.00
          </p>
        </td>
        <td>
          <span class="icon icon-close"></span>
        </td>
      </tr>
      <tr class="col-btn">
        <td>
          <div class="btn-group">
            <button class="btn btn-return">Return to shop</button>
            <button class="btn btn-update-cart">Update Cart</button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="cart-total">
    <p class="name-total">Cart Total</p>
    <p class="name-total-border"> Subtotal:<span> $84.00</span></p>
    <p class="name-total-border">Shipping:<span>Free</span></p>
    <p class="name-total-border-none total">Total:<span> $84.00</span></p>
    <button class="btn btn-checkout">Proceed to checkout</button>
  </div>
</div>
